# Controller
'.source.php':

    # Validation
    'Validation in the controller':
        'prefix': 'validate'
        'body': """
            $this->validate(request(), [
                $1
            ]);
        """
