'.source.php':
    'Ascii Logo':
        'prefix': 'laravel:logo'
        'body': """
            :/:::::::+.
            .+-      `+:
             .+-      `//`
              -+:       :/`            `---::-:-
               -+:       -+.            -/.    .:.
                -+:       .+:            `/:`   `:/`
                 -+:       `//`         ``./+::::::.
                  -o:       `:+.`..-::::::-..:/`
                   -o:``..-::/+++:-.```       ./-
                    -+//::-.```-+:             `:/`
                                .+/`       `..:/+/:
                                 `++``.-:/+//:-`
                                  `/++/:-.
        """
